*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
body{
    color: white;
    background-color: #717073ab;
}
header{
    width: 100%;
    height: 150px;
    background-color: black;
}
header div{
    width: 40%;
    float: left;
}
#logotipo img{
    height: 140px;
    width: 170px;
}
#titulocabe {
    float: left;
    padding-top: 35px;
}
nav{
    background-color: red;
    float: left;
    width: 100%;
    height: 60px;
}
nav ul{
    list-style: none;
    margin-top: 15px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color:white;
    margin-left:  40px;
    font-size: 23px;
}
nav ul li a:hover{
    color: yellow;
    cursor: pointer;
}
main{
    margin-top: 40px;
    background-color: #720106;
    float: left;
    width: 100%;
}
main div{
    width: 80%;
    margin: 0 auto;
}
.imagens{
    width: 15%;
    float: left;
    margin: 37px;
}
.imagens img{
    width: 100%;
    height: 100%;
    transform: scale(1.0);

}
.imagens img:hover{
    transform: scale(1.1);
}
h2{
    color: white;
    font-size: 30px;
    padding-top: 20px;
}
footer{
    float: left;
    width: 100%;
    padding: 15px;
    background-color: red;
    margin-top: 50px;
    
}
footer p{
    text-align:center;
}